<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create new project</title>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>

<header>
	<h2>Logo</h2>
	<h3>Organizing is the key to success<h3>

</header>

<!-- Menubar -->

<ul>
  <li>
  <div class="dropdown">
  <button class="dropbtn">Project</button>
  <div class="dropdown-content">
  <a href="#">My projects</a>
  <a href="#">Create a new project</a>
  <a href="#">Add project</a>
  </div>
</div>
  
  </li>
  <li>
  
  <div class="dropdown">
  <button class="dropbtn">myTPlanner</button>
  <div class="dropdown-content">
  <a href="#">Edit profile</a>
  <a href="#">My tasks</a>
  <a href="#">Logout</a>
  </div>
</div>

</li>

</ul>
<!-- Until here Menubar -->

	<h1>Modify project</h1>
	<div>
		<form th:object = "${task}" th:action="@{../saveTask}" 
			action="#" method="post">
			<input id="taskId" type="hidden" th:field="*{taskId}" readonly="readonly"/>
			<label for="taskName">Task Name</label>
			<input type="text" id="name" th:field="*{taskName}"/>
			<label for="taskDescription">Description</label>
			<input type="text" th:field="*{taskDescription}"/>
			<label for="startingDate">Starting date</label>
			<input type="text" th:field="*{startingDate}"/>
			<label for="deadLine">Description</label>
			<input type="text" th:field="*{deadLine}"/>
			<label for="Cost">Cost in Euro</label>
			<input type="number" th:field="*{cost}"/>
					<select id="teamL" th:field="*{team}" class="from-control">
			<option th:each="team: ${teams}"
					th:value="${team.teamId}"
					th:text="${team.name}"></option>
			 </select>
			<input type="submit" value="SaveTask"></input>
			<a th:href="@{/addTask/saveTask}">modify</a>
		</form>
	</div>
</body>